<nav class="navbar">
  <ul>
    <li class="navbar__item"><a href="{{ '/posts.html' | relative_url }}">Projects</a></li>
    <li class="navbar__item"><a href="{{ '/posts.html' | relative_url }}">Experience</a></li>
    <li class="navbar__item"><a href="{{ '/posts.html' | relative_url }}">Publication</a></li>
    <li class="navbar__item"><a href="{{ '/posts.html' | relative_url }}">Photos&Books</a></li>
    <li class="navbar__item"><a href="{{ '/posts.html' | relative_url }}">肉包</a></li>
  </ul>
</nav>
